.pokemon-list-wrapper {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


.pokemon-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}


.controls button {
    padding: 0.5rem 1rem;
    border-radius: 7px;
    border: 0px solid;
    margin: 2rem;
}







































/* spinner */
.spinner {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border-width: 3px;
    border-style: dashed solid solid dotted;
    border-color: #000 #000 transparent #000;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 20px;
    top: 31px;
    border: 10px solid transparent;
    border-right-color: #000000;
    transform: rotate(-40deg);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}