.search-wrapper {

    margin: 0 auto;
}

#pokemon-name-search {
    width: 600px;
    margin-top: 1rem;
    padding: 1.5rem;
}

@media screen and (min-width: 300px) and (max-width: 678px) {
    .search-wrapper #pokemon-name-search {
        width: 200px;
    }
}